p.big {
  line-height: 100px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.big {
  font-weight: bold;
  font-size: 50px;
}

#rcorners1 {
    border-radius: 25px;
    box-shadow: 10px 10px 5px lightblue;
    background: #00d9ff;
    padding: 20px;
    width: 900px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }